@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Mono+One&display=swap");
.menu {
  background-color: #EADA52;
  height: 50px;
  padding: 10px;
  position: relative;
}
.menu .menu-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  max-width: 1480px;
}
.menu .menu-box .icon-menu {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.menu .menu-box .icon-menu .line {
  width: 40px;
  height: 5px;
  background-color: #ED9D7E;
  transition: all 0.3s ease;
  transform-origin: center;
}
.menu .menu-box .icon-menu.open .line:nth-child(1) {
  transform: rotate(45deg) translate(14px, 10px);
}
.menu .menu-box .icon-menu.open .line:nth-child(2) {
  opacity: 0;
}
.menu .menu-box .icon-menu.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}
.menu .dropdown-menu {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #EADA52;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  z-index: 100;
}
.menu .dropdown-menu .dropdown-menu-box {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 40px;
}
.menu .dropdown-menu a {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  color: #45AF65;
  font-size: 45px;
  transition: color 0.2s ease;
  cursor: pointer;
}
.menu .dropdown-menu a:hover {
  color: #ED9D7E;
}
.menu .dropdown-menu.show-dropdown {
  max-height: 350px;
}

*,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F6F95B;
}
body main {
  overflow: hidden;
}
body .title-section {
  font-family: "Rubik Mono One", monospace;
  margin-bottom: 30px;
  font-size: 20px;
}
body .slick-carousel .slick-list {
  padding: 0 60px 0 0 !important;
}
body .slick-carousel .slick-arrow {
  top: 40%;
  width: 40px;
  height: 40px;
}
body .slick-carousel .slick-prev {
  left: -40px;
}

.slick-next:before,
.slick-prev:before {
  color: #ED9D7E !important;
  font-size: 30px !important;
}

.banner {
  height: 100vh;
}
.banner .intro-banner {
  max-width: 1480px;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 30px;
}
.banner .intro-banner .image-section img {
  width: 90%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
.banner .intro-banner .text-section {
  display: flex;
  flex-direction: column;
  position: relative;
}
.banner .intro-banner .text-section .artist-name,
.banner .intro-banner .text-section .text-discname {
  font-family: "Rubik Mono One", monospace;
}
.banner .intro-banner .text-section .artist-name {
  color: #ED9D7E;
  font-size: clamp(0.625rem, 1.953vw - 0.312rem, 1.25rem);
  text-align: right;
}
.banner .intro-banner .text-section .text-discname {
  font-size: clamp(2.5rem, -9.18vw + 9.844rem, 5.438rem);
}
.banner .intro-banner .text-section .text-artistname {
  font-size: clamp(5.625rem, 14.648vw - 1.406rem, 10.8rem);
  font-family: "Anton", sans-serif;
  line-height: 147px;
  display: flex;
  justify-content: space-between;
}
.banner .intro-banner .text-section .text-discname,
.banner .intro-banner .text-section .text-artistname {
  color: #45AF65;
}
.banner .intro-banner .text-section .view-more-btn {
  margin-top: 15px;
}
.banner .intro-banner .text-section .view-more-btn button {
  background-color: #ED9D7E;
  padding: 15px 40px;
  border: 0;
  font-size: clamp(0.75rem, 0.5951rem + 0.708vw, 1.25rem);
  font-weight: 800;
  color: #EADA52;
  float: right;
  margin-right: 20px;
  border-radius: 52%;
}

.info-artist-section {
  position: relative;
}
.info-artist-section .background-section {
  clip-path: polygon(0 0, 66% 0, 100% 16%, 100% 70%, 0 100%, 0 100%, 0 64%, 0% 30%);
  background-color: #EADA52;
  height: 1200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.info-artist-section .info-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
  top: 0;
  width: 75%;
  z-index: 2;
  padding-top: 60px;
}
.info-artist-section .info-artist-block,
.info-artist-section .disc-artist-block {
  width: 50%;
}
.info-artist-section .info-artist-block {
  color: #45AF65;
}
.info-artist-section .info-artist-block p {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Courier New", monospace;
  font-size: 20px;
  line-height: 30px;
}
.info-artist-section .disc-artist-block {
  color: #ED9D7E;
  text-align: right;
}
.info-artist-section .disc-artist-block ul li {
  font-size: 24px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Courier New", monospace;
  line-height: 30px;
  margin-bottom: 10px;
}
.info-artist-section .disc-artist-block ul li .year-disc {
  font-weight: 800;
  margin-right: 20px;
}

ul li {
  list-style: none;
}

.songs-top-section {
  margin-top: 80px;
}
.songs-top-section .box-title {
  width: 75%;
  margin: auto;
}
.songs-top-section .title-section {
  color: #45AF65;
}
.songs-top-section .songs-box {
  margin-top: 30px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: end;
}
.songs-top-section .songs-box .songs-carrusel {
  width: 87%;
}
.songs-top-section .songs-box iframe {
  width: 100%;
  height: 310px;
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
