@use 'variables' as *;

.info-artist-section {
    position: relative;
    .background-section {
        clip-path: polygon(0 0, 44% 0, 100% 30%, 100% 70%, 79% 100%, 30% 100%, 0% 70%, 0% 30%);
        background-color: $color_yellow;
        height: 1000px;
        width: 70%;
    }

    .info-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .title-section {
        font-family: $font-family-Rubik;
    }
    .info-artist-block,
    .disc-artist-block {
        width: 50%;
    }

    .info-artist-block {
    
        display: block;
        width: 40%;
    }

 
}

