@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Mono+One&display=swap');

//Color
$color_yellow: #EADA52;
$color_yellow_light: #F6F95B;
$color_pink: #ED9D7E;
$color_pink2: #E0B6D4;
$color_green: #45AF65;
$color_green3: #405820fa;



//Typography
$font-family-Rubik: "Rubik Mono One", monospace;
$font-weight-regular: 400;
$font-style-normal: normal;
$font-size-menu-desktop: 45px;

$font-family-Anton: "Anton", sans-serif;
$font-family-Monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, "Courier New", monospace;

$box-shadow-button:16px -18px 40px -17px rgba(224, 182, 212, 1);
